.custom-form {
  color: $charcoal-grey;
  padding: 12px 20px;
  background-color: white;
  border-radius: 3px;
  box-shadow: $shadow-sm;

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.8rem;
    text-align: center;
  }
  .form-actions .btn {
    width: 100%;
    margin-bottom: 20px;
  }
}